h1{
    text-align: center;
  }
  
  /* create column and row with grid */
  
  .item {
      color: black;
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
      padding: 10px;
      background-color: #fff;
      border-radius: 4px;
      border: 2px solid orange;
  }
  
  /* large screen */
  @media screen and (min-width: 769px) {
  
      .container {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr 1fr;
          grid-gap: 1rem;
      }
  
      .item4 {
          grid-column: 1 / span 3;
      }
  
  }
  
  /* small screen */
  @media screen and (max-width: 768px) {
      .container {
          display: grid;
          grid-template-columns: 1fr ;
          grid-template-rows: 1fr 1fr 1fr 1fr;
      }
  
  }