.Layer {
    transform-origin: 50% 50%;
    transform-box: fill-box;
    animation: beat 3s linear infinite ,fade 0.25s reverse both, spin 3s linear infinite;
  }

  @keyframes beat {
    0% {
      transform: scale(1);
      fill: red,
    }
    50% {
      transform: scale(2);
      fill: blue;
    }
    100% {
      transform: scale(1);
      fill: green;
    }
  }

  @keyframes spin {
    0%{
      transform: scaleX(1);
    }
    25%{
      transform: scaleX(2);
    }
    50% {
      transform: scaleX(3);
      fill: blue;
    }
    75%{
      transform: scaleX(2);
    }
    100% { 
        transform:scaleX(1);
    } 
  }

  @keyframes fade {
    0% {
      opacity:1;
   }
    
    100% {
      opacity: 0;
    }
  }
  
  
  /* other styles */

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrap {
    width:15vw;
    display: flex;
  }
  
  .child {
    /* Center vertically and horizontally */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* navbar menu */

  nav {
    border-top: 3px solid #00bff3;
    border-bottom: 3px solid #00bff3;
    margin: 1rem auto;  
    background-color: #eee;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  nav a{
    padding: 0.5rem;
    display: block;
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .space{
    flex-grow: 4;
  }

  li img{
    height: 50px;
  }

  nav a:focus{
      background-color: #f0c808;
      color: black;
  }

  nav a:hover{
    color: #ff583d;
    background-color: #f0c808;
  }

  .active{
    color:#ff583d;
    background-color: #c5e5ed;
  }

  .logo{
    flex-basis: 100px;
    text-align: center;
  }

  .logo a:hover{
    background-image: none;
    background-color: transparent;
  }