h1{
    text-align: center;
  }
  
  /* create column and row with grid */
  
.item {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid orange;
}
  
/* large screen */
@media screen and (min-width: 769px) {
  
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 1rem;
    }

    .item4 {
        grid-column: 1 / span 3;
    }
  
}
  
/* small screen */
@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

}

  /* cell 1 transition button */ 

button {
    border: 3px solid #eed76f;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    background:#f09595;
    width:200px;
    font-size:1rem;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    border-radius:20px
}

/* properties transtition : background, transform, border-radius */
button {
  transition: background .3s ease-in,
              transform .2s .1s ease-out;
              border-radius: .3s ease-in;
}

button:hover {
  transform: scale(1.6);/* zoom button */
  background:#f54d41;
  color: #f5f5f5;
}