/*

List font :
- Italianno
- Roboto
- Fira Sans

List color:
- black
- white
- orange
- #eed76f
- #f09595
- #f54d41
- #f5f5f5
- #DCF2B0
- #59C3C3
- #433F55
- #CE2D4F
- #db71bb
- #8677c9
- rgb(49, 211, 223)

List content:

- Global

- Create column and row with grid.

- Large screen.

- Small screen.

- Cell 1 transition button.

- Cell 2 animation word decrease size.

- Cell 3 animation image.

- Cell 4 create two clouds that continuously move across the screen at different speeds.

- Cell 5 word auto typing.

- Cell 6 a word that flips up and / or down.

- Cell 7 animation increase width of cell by cubic-bezier timing.

*/

/* Global */
h1{
    text-align: center;
}
  
/* Create column and row with grid. */
  
.item {
    color: black;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 2px solid orange;
}
  
/* Large screen. */
@media screen and (min-width: 769px) {

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 1rem;
    }

    .item4 {
        grid-column: 1 / span 3;
    }

}

/* Small screen. */
@media screen and (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto auto auto auto;
    }

}

/* Cell 1 transition button. */  
/* config button */
button {
    border: 3px solid #eed76f;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    background:#f09595;
    width:200px;
    font-size:1rem;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    border-radius:20px
}

/* properties transtition : background, transform, border-radius */
button {
  transition: background .3s ease-in,
              transform .2s .1s ease-out;
              border-radius: .3s ease-in;
}

button:hover {
  transform: scale(1.6);/* zoom button */
  background:#f54d41;
  color: #f5f5f5;
}

/* Cell 2 animation word decrease size. */

/* change size item */
@keyframes scaleIn {
    0% {transform: scale(1.5);} /*increase size when start*/
    100% {transform:scale(0.5);} /* decrease size until end*/
}
  
/* use font Fira Sans*/
.item2 h2 {
    font-family: "Fira Sans", sans-serif;
    color: #DCF2B0;
    text-shadow: 3px 3px 0px #59C3C3;
    
    animation-name: scaleIn;
    animation-fill-mode: backwards;
    /* repeat animation */
    animation: scaleIn 3s infinite;
}
  
.item2 .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Cell 3 animation image. */

.item3 {
    text-align: left;
}
/* set size image */
img{
    height: 150px;
    width: 100px;
}
  
/* set animation for image have class name is circle when hover */
.circle:hover {
    animation-name: move;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count:3;
    animation-direction: alternate;
}
  
@keyframes move {
    100% {
      /* distance of start point and end point */
      transform: translateX(350%);
    }
}

/* Cell 5 word auto typing. */

.item5 h2 {
  animation: typing 3s steps(180) infinite,/* time duration and speed typing (typing 180 characters in 3s) */
  blinking 0.5s steps(1) infinite;
  color: #433F55;
  font-family: 'Italianno', cursive;
  overflow: hidden; 
  border-right: .15em solid #CE2D4F; 
  margin-inline: auto; /* let content in center*/
  white-space: nowrap; 
  letter-spacing: .15em; 
}

@keyframes typing {
  0% {
    width:0px;
  }
  100% {
    width: 100%;
  }
}

@keyframes blinking {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: #CE2D4F;
  }
}

/* Cell 6 a word that flips up and / or down. */

.item6 h2{
    font-size: 40px;
}

/* set range for anmation up and down */
@keyframes flipUp {
    from {transform:rotateX(90deg);}
    to {transform:rotateX(0deg);}
}
  
@keyframes flipDown {
    to {transform:rotateX(-180deg);}
}
  
@keyframes flick {
    0%, 100% {
      transform: rotateX(-180deg) rotateZ(0deg);
      animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
    }
    50% {
      transform: rotateX(-180deg) rotateZ(10deg);
      animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
    }
}


/* set time show animation per span, +0.2s for next span */
  
span {
    animation: flipUp 1s cubic-bezier(0.34, 1.56, 0.64, 1) both,
               flipDown 1s cubic-bezier(0.34, 1.56, 0.64, 1) 2.75s forwards;
    transform-origin: 50% 70%;
}
  
span:nth-child(2) {
    animation-delay: 0.2s, 2.95s;
}
  
span:nth-child(3) {
    animation-delay: 0.4s, 3.15s;
}
  
span:nth-child(4) {
    animation-delay: 0.6s, 3.35s;
}
  
span:nth-child(5) {
    animation-delay:0.8s, 3.55s;
}
  
  span:nth-child(6) {
    animation-delay:1s, 3.75s;
  }
  
span:nth-child(7) {
    animation-delay:1.2s, 3.95s;
}
  
span:nth-child(8) {
    animation-delay:1.4s, 4.15s;
}
  
span:nth-child(9) {
    animation-delay:1.6s, 4.35s;
}
  
span:nth-child(10) {
    animation-delay:1.8s, 4.55s;
}
  
span:nth-child(11) {
    animation-delay:2s, 4.75s;
}
  
span:nth-child(12) {
    animation: flipUp 1s 2.2s cubic-bezier(0.34, 1.56, 0.64, 1)  both, 
    flipDown 1s 4.95s cubic-bezier(0.34, 1.56, 0.64, 1) forwards,
    flick .95s 5.15s linear forwards;
}
  
span {
    font-family: 'Roboto', sans-serif;
    display:inline-block;
    color:#db71bb;
}
  
span:nth-child(2n) {
    color:#8677c9;
}

/* Cell 7 animation increase width of cell by cubic-bezier timing. */
.item7 {
    color: white;
    width: 80px;
    background: rgb(49, 211, 223);
    transition: width 2s;
    /* https://cubic-bezier.com/#.16,.79,.86,.42 */
    transition-timing-function: cubic-bezier(.16,.79,.86,.42);
}
  
.item7:hover {
    width: 600px;
}

/* Cell 4 create two clouds that continuously move across the screen at different speeds. */

.item4{
    text-align: left;
}
  
/* set duration (speed) and type animation for image */
.cloud01 {
    animation: float 20s linear infinite;
}
.cloud02 {
    animation: float 15s 2s linear infinite backwards;
}
  
/* distance of start point and end point*/
@keyframes float {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(1000px);
    }
}
  
.item4 .wrap {
    display:grid;
    overflow: hidden;
    position:relative;
}
  
.cloud02 {top:76px;}
.cloud01 {top:30px;}
  
.cloud {width:150px;}

  /* navbar menu */

  .hamburger, .close {
    font-size: 2rem;
    color: #00bff3;
  }

  nav {
    background-color: #eee;
    position: absolute;
    z-index: 1000;
    top:0;
    left:0;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    /* positioning the close button and navbar */
    display:flex;
    justify-content: space-between;
    text-align: center;
    /* animate slide up and down */
    transform: translateY(-100%);
    transition: transform 0.2s ease;
  }

  li img{
    height: 50px;
  }
  
  nav:target{
    transform: translateY(0);
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    width: 100%;
  }

  nav a{
    padding: 0.5rem;
    display: block;
    color: #00bff3;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
  }

  nav a:focus{
      background-color: #f0c808;
      color: black;
  }

  nav a:hover{
    color: #ff583d;
    background-color: #f0c808;
  }

  .active{
    color:#ff583d;
    background-color: #c5e5ed;
  }

  .close:hover{
    background-image:none;
    background-color: transparent;
  }

  .logo{
    flex-basis: 100px;
    text-align: center;
  }

  .logo a:hover{
    background-image: none;
    background-color: transparent;
  }

  @media (min-width: 768px){
    header{
      margin: 1rem auto;
    }
    nav{
      border-top: 3px solid #00bff3;
      border-bottom: 3px solid #00bff3;
      padding: 0;
      position: static;
      height: auto;
      transform: translateY(0);
    }
    .hamburger, .close{
      display: none;
    }
    nav ul{
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
    }
    .space{
      flex-grow: 4;
    }
  }